.parent_image {
  width: 50%;
  height: 50%;
}

.image {
  width: 100%;
  height: 100%;
  animation: image 2s linear forwards;
}

@keyframes image {
  0% {
    filter: blur(20px);
  }
  100% {
    filter: blur(0px);
  }
}

.image_default {
  width: 100%;
  height: 100%;
}
