.loading_size {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: example 1.5s linear infinite alternate-reverse;
  font-size: 12px;
}
@keyframes example {
  100% {
    font-size: 18px;
  }
}
