.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 2000px;
  margin: 0 auto;
  padding: 50px;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 0px 25px rgb(3, 3, 3);
}
.border {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  width: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.096);
  border-top: 1px solid rgba(0, 0, 0, 0.096);
}
@media screen and (max-width: 800px) {
  .border {
    justify-content: center;
    align-items: center;
    border: none;
  }
}
